
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f4f4f9;
  border-radius: 8px;
}

.subMateri {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}


.title {
  font-size: 1.5em;
  color: #2e7d32;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
  line-height: 1.6;
}

li {
  margin-bottom: 8px;
}


b {
  font-weight: bold;
}


p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
}


.subMateri:not(:last-child) {
  margin-bottom: 30px;
}
